<app-prueba></app-prueba>

<!-- * * * * * * * * * * * TS -> HTML * * * * * * * * * * * * -->

<h1>{{title}}</h1>
<h3>{{numero}}</h3>

<img [src]="imagenUrl" alt="usuario" width="100px"> 

<br> <br>
<!-- * * * * * * * * * * * HTML -> TS * * * * * * * * * * * * -->

<button type="button" (click)="onClick()">Haz Click</button>
<br> <br>

<form action="">
  <label for="">Ingreso Nombre: </label>
  <input type="text" [(ngModel)]="twoWayDataBindig" name="nombre">
  <br> <br>
  <label for="">Despliegue de Nombre: </label>
  <input type="text" [(ngModel)]="twoWayDataBindig" name="nombre">
  <br>
</form>

<app-formulario></app-formulario>